/*header flexbox*/

.header {
    display: flex;
    justify-content: space-around;
  }
  
  .header-item1 {
    margin-left: 1rem;
  }
  
  .header-item2,
  .header-item3,
  .header-item4,
  .header-item5 {
    margin-left: auto;
  }
  
  .header-item2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-right: solid 2px rgb(185, 185, 185);
  }
  
  .bell-icon {
    margin-top: .6rem;
    margin-right: 1rem;
  }
  
  .header-item4 {
    height: 3.5rem;
    margin-top: .9rem;
    margin-left: 1rem;
  }
  
  .header-item5 {
    margin: 2rem 1rem 0 1.5rem;
  }

/*traffic flexbox*/

.traffic-nav {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  padding-left: 0;
  margin-top: 30px;
}

.traffic-h3 {
  margin-bottom: 0;
}