/*header flexbox*/

.header {
    display: flex;
    justify-content: space-around;
  }
  
  .header-item1 {
    margin-left: 1rem;
  }
  
  .header-item2,
  .header-item3,
  .header-item4,
  .header-item5 {
    margin-left: auto;
  }
  
  .header-item2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-right: solid 2px rgb(195, 195, 195);
  }
  
  .bell-icon {
    margin-top: .6rem;
    margin-right: 1rem;
  }
  
  .header-item4 {
    height: 3.5rem;
    margin-top: .9rem;
    margin-left: 1rem;
  }
  
  .header-item5 {
    margin: 2rem 1rem 0 1.5rem;
  }

/*traffic flexbox*/

.traffic-nav {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  padding-left: 0;
  margin-top: 30px;
}

/*social stats flexbox*/

.facebook-container,
.instagram-container,
.twitter-container {
  display: flex;
  margin: 0 3rem 3rem 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(241, 241, 241);
  border: solid 3px rgb(195, 195, 195);
  border-radius: 15px;
}

.facebook-icon,
.instagram-icon,
.twitter-icon {
  width: 12em;
  height: 12em;
  margin-left: 6em;
}

.facebook-text,
.instagram-text,
.twitter-text {
  margin-left: 3rem;
}

.social-word {
  color: rgb(127,102,195);
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: -.3em;
}

.social-counter {
  color: rgb(104, 104, 104);
  font-size: 7em;
  margin-top: 0;
  margin-bottom: 0;
}