/*header flexbox*/

.header {
    display: flex;
    justify-content: space-around;
  }
  
  .header-item1 {
    font-size: 20px;
    margin-top: 1rem;
    margin-left: .5rem;
    margin-bottom: 0;
  }
  
  .header-item2 {
    margin-top: .8rem;
    margin-left: 2rem;
    margin-bottom: .8rem;
    border-right: solid 1px rgb(195, 195, 195);
    padding-right: .7rem;
  }

  .bell-icon {
    margin-top: .5rem;
  }
  
  .header-item4 {
    height: 2.5rem;
    margin-top: .7rem;
    margin-left: .5rem;
    border-radius: 50%;  
  }
  
  .header-item5 {
    font-size: 13px;
    margin: 1.4rem .5rem 0 .5rem; 
  }

/*traffic flexbox*/

.traffic-nav {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  padding-left: 0;
  margin-top: 30px;
}

/*social stats flexbox*/

.facebook-container,
.instagram-container,
.twitter-container {
  display: flex;
  margin: 0 3rem 3rem 3rem;
  padding: 3rem 0 2rem 0;
  background-color: rgb(241, 241, 241);
  border: solid 3px rgb(195, 195, 195);
  border-radius: 15px;
}

.facebook-icon,
.instagram-icon,
.twitter-icon {
  width: 12em;
  height: 12em;
  margin-left: 3em;
}

.facebook-text,
.instagram-text,
.twitter-text {
  margin-left: 3rem;
}

.social-word {
  color: rgb(127,102,195);
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: -.3em;
}

.social-counter {
  color: rgb(150, 150, 150);
  font-size: 7em;
  margin-top: 0;
  margin-bottom: 0;
}

/*save & cancel buttons*/

.settings-button {
  display: flex;
  margin: 0 3rem 4rem 3rem;
  justify-content: space-between;
}

/*settings toggle switches grid*/

.toggleSwitch-container {
  display: grid;
  max-width: 100vw;
  grid-template-columns: 2fr 1fr;
}

.toggle-text {
  font-size: 45px;
  margin: 0 0 2em 1em;
}