
/*element selectors*/
body {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color:rgb(97, 60, 199);
  text-decoration: none;
}

/*grid*/
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "nav"
    "main";
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
  display: grid;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 60px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: 1fr;
  }
}

/*id selectors*/

/* Toggle Switch */
#toggle-switch {
  -webkit-appearance: none;
  position: relative;
  width: 90px;
  height: 35px;
  border-radius: 25px;
  transition: background .3s;
  background-color: rgb(97, 60, 199);
  outline: solid 2px rgb(185, 185, 185);
  cursor: pointer;
}

#toggle-switch::before {
  content: 'ON';
  color: white;
  top: 27%;
  left: 10%;
  position: absolute;
}

#toggle-switch:checked:before {
  content: 'OFF';
  color: white;
  top: 27%;
  left: 60%;
}

#toggle-switch::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  background-color: white;
  outline: solid 2px rgb(185, 185, 185);
}

#toggle-switch:checked {
  background-color: rgb(185, 185, 185);
}

#toggle-switch:checked:after {
  left: 22%;
}