
/*element selectors*/
body {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color:rgb(127, 102, 195);
  text-decoration: none;
}

/*id selectors*/


/*class selectors*/

.header {
  display: flex;
  justify-content: space-around;
}

.header-item1 {
  margin-left: 1rem;
}

.header-item2,
.header-item3,
.header-item4,
.header-item5 {
  margin-left: auto;
}

.header-item2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-right: solid 2px rgb(185, 185, 185);
}

.bell-icon {
  margin-top: .6rem;
  margin-right: 1rem;
}

.header-item4 {
  height: 3.5rem;
  margin-top: .9rem;
  margin-left: 1rem;
}

.header-item5 {
  margin: 2rem 1rem 0 1.5rem;
}

.header, 
.alert {
  background-color:rgb(127, 102, 195);
}

.nav {
  background-color:rgb(78, 64, 119);
}

.nav-icon {
  padding: 1em;
}

.profile-image {
  border-radius: 50%;
}

.facebook-icon,
.instagram-icon,
.twitter-icon {
  fill: white;
  background-color: rgb(127, 102, 195);
  border-radius: 50%;
}

.widget-container-full,
.widget-container-half {
  width: 95vw;
}

.header, 
.alert, 
.button-primary, 
.button-disabled {
  color: white;
}

.button-primary {
  background-color:rgb(127, 102, 195);
  border: none;
}

.button-disabled {
  background-color:rgb(185, 185, 185);
  border: none;
}

/* Toggle Switch */
#toggle-switch {
  -webkit-appearance: none;
  position: relative;
  width: 90px;
  height: 35px;
  border-radius: 25px;
  transition: background .3s;
  background-color: rgb(127, 102, 195);
  outline: solid 2px rgb(185, 185, 185);
  cursor: pointer;
}

#toggle-switch::before {
  content: 'ON';
  color: white;
  top: 27%;
  left: 10%;
  position: absolute;
}

#toggle-switch:checked:before {
  content: 'OFF';
  color: white;
  top: 27%;
  left: 60%;
}

#toggle-switch::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  background-color: white;
  outline: solid 2px rgb(185, 185, 185);
}

#toggle-switch:checked {
  background-color: rgb(185, 185, 185);
}

#toggle-switch:checked:after {
  left: 22%;
}

/*grid*/
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "nav"
    "main";
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
  display: grid;
}

/*media queries*/

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 70px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }

  .main {
    grid-template-columns: 1fr 1fr;
  }

  .traffic,
  .social,
  .members,
  .activity,
  .message,
  .settings {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }

  .traffic,
  .social {
    grid-column: 1 / span 2;
  }

  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }
}